PORT=5000
MONGODB_URI=mongodb://localhost:27017/compare
GITHUB_TOKEN=
# Cron schedule: default is 12:00 AM IST daily
CRON_SCHEDULE=30 18 * * *
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
NSUT_API_URL=https://api.sujal.info/api/nsut
